button {
  color: $base-font-color;
  background-color: white;
  border: 1px solid $well-border-color;
  border-radius: $base-border-radius;
  font-size: 1rem;
  padding: 0.5rem 0.75rem;

  &:hover,
  &:active {
    background-color: $well-bg-color;
  }
}

.button-right {
  text-align: right;
  button {
    margin-left: 1rem;
  }
}
